@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body,
body > div {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

.Screens {
  position: absolute;
  top: 100px;
  bottom: 0;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
  scroll-snap-type: x mandatory;
}

.Screen {
  overflow-y: auto;
  scroll-snap-align: start;
}
